@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.header { /*define o tamanho do header*/
    height: 80px;
    border-bottom: 2px solid #53C4D0;
    background-color:#53C4D0;
}

.container { /*define como será os elementos dentro*/
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.header .container { /*quando se encontrarem terá essa estilização*/
    justify-content: space-between; /*um em cada lado da tela*/
    align-items: center;
    height: 100%;
}

.navbar{ /*define como será os elementos de inicial, simulador, espaçamentos...*/
    display: flex;
    justify-content: space-evenly; /*espaça os campos entre si*/
    width: 600px; /*separa um pouco mais os textos*/
    align-items: center;
    list-style: none; /* tira a bolinha */
    color: #fff;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-family: 'Karla', sans-serif;
}

.imagem {
    height: 75px;
    width: 75px;
    margin-top: 10px;
}

.agora {/* estiliza o inicial no header */
    font-weight: 800; /*grossura da fonte*/
}

.pretocadastro {
    background-color:black;
    border: none;
    padding: 8px;
    border-radius: 25px;
    width: 100px; 
    color: white;
    cursor: pointer;
}

.pretologin {
    background-color: black;
    border: none;
    padding: 8px;
    border-radius: 25px;
    width: 100px;
    color: white;
    cursor: pointer;
}

/* BODY */

/* Estilização do banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 570px;
    background-color: #f1f5f9;
    flex-direction: row;
    padding-left: 6%;
}

.banner-left {
    display: flex;
    flex: 1;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
