@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pragati+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pragati+Narrow:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.header { /*define o tamanho do header*/
    height: 80px;
    border-bottom: 2px solid #53C4D0;
    background-color:#53C4D0;
}

.container { /*define como será os elementos dentro*/
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.header .container { /*quando se encontrarem terá essa estilização*/
    justify-content: space-between; /*um em cada lado da tela*/
    align-items: center;
    height: 100%;
}

.navbar{ /*define como será os elementos de inicial, simulador, espaçamentos...*/
    display: flex;
    justify-content: space-evenly; /*espaça os campos entre si*/
    width: 600px; /*separa um pouco mais os textos*/
    align-items: center;
    list-style: none; /* tira a bolinha */
    color: #fff;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-family: 'Karla', sans-serif;
}

.imagem {
    height: 75px;
    width: 75px;
    margin-top: 10px;
}

.agora {/* estiliza o inicial no header */
    font-weight: 800; /*grossura da fonte*/
}

/* BANNER NOTÍCIA */
.banner2 {
    height: var(--tamanho-banner);
    background-image: url('https://i.pinimg.com/originals/85/02/20/8502209caddc3417e687382704c59e1c.gif');
    background-size: cover;
    background-position: center;
}

.banner2 .container p {
    width: 70%;
    font-size: 70px;
    justify-content: center;
    align-items: center;
}
.banner2 .container{
    justify-content:flex-start;
    align-items: center;
    height: 100%;
    color: white;
}

.noticia {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
}

button {
    padding: 1rem;
    background-color: dodgerblue;
    border: none;
    margin: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#res {
    display: flex;
    flex-direction: column;
}

.noticia_completa_1 {
    display: none;
}

.noticia_completa_2 {
    display: none;
}

.noticia_completa_3 {
    display: none;
}

.noticia_completa_4 {
    display: none;
}



