@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pragati+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pragati+Narrow:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.header { /*define o tamanho do header*/
    height: 80px;
    /* border-bottom: 2px solid #53C4D0; */
    background-color:rgba(4, 74, 92, 1);
}

.container { /*define como será os elementos dentro*/
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.header .container { /*quando se encontrarem terá essa estilização*/
    justify-content: space-between; /*um em cada lado da tela*/
    align-items: center;
    height: 100%;
}

.navbar{ /*define como será os elementos de inicial, simulador, espaçamentos...*/
    display: flex;
    justify-content: space-evenly; /*espaça os campos entre si*/
    width: 600px; /*separa um pouco mais os textos*/
    align-items: center;
    list-style: none; /* tira a bolinha */
    color: #fff;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-family: 'Karla', sans-serif;
}

.imagem {
        height: 50px;
        width: 140px;
        margin-top: 11px;
    
}

.agora {/* estiliza o inicial no header */
    font-weight: 800; /*grossura da fonte*/
}



/* BANNER NOTÍCIA */
.banner2 {
    height: var(--tamanho-banner);
    background-image: url('https://i.pinimg.com/originals/85/02/20/8502209caddc3417e687382704c59e1c.gif');
    background-size: cover;
    background-position: center;
}

.banner2 .container p {
    width: 70%;
    font-size: 70px;
    justify-content: center;
    align-items: center;
}
.banner2 .container{
    justify-content:flex-start;
    align-items: center;
    height: 100%;
    color: white;
}

.noticia {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    justify-content: center;
}

button {
    padding: 1rem;
    background-color: #53C4D0;
    color: white;
    border: none;
    margin: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#res {
    display: flex;
    flex-direction: column;
}

.noticia_completa_1 {
    display: none;
}

.noticia_completa_2 {
    display: none;
}

.noticia_completa_3 {
    display: none;
}

.noticia_completa_4 {
    display: none;
}


/* CARD NOTÍCIAS */

/* 1° PRIMEIRA NOTÍCIA */

* {
    padding: 0; /* arruma o espaçamento entre os textos */
    margin: 0; /* arruma o espaçamento entre os textos */
    /* box-sizing: border-box; arruma o jeito das letras */ 
   }
   
   body {
    background: #f1f5f9;
    font-family: monospace;
   }

   .c-card1 {
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: row;/* deixa espaçado entre a navbar e as imagens */
    margin: 2rem; /* deixa espaçado entre a navbar e as imagens */
    color: black;
    box-shadow: 0 0 20px #bfdbfe; /* a cor de funco do card */
    text-align: center; /* deixa a imagem centralizada*/
    height: 5%; 
    font-size: 15px;

   }

   .c-card1 h2 {
    padding-bottom: 10px; /* espaçamento entre os textos */
    color: #53C4D0;
   }

.img1 {
    border-radius: 4rem;
    /* border: black 1px solid; */
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 800px;

   }

.img1  img{
    width: 500px;


   }
   
   .c-card1 .p1 { /* breve descrição sobre mim */
    width: 20rem;
    text-align: center;
    padding: 0.5rem;
    color: black;
   }


   /* 2° PRIMEIRA NOTÍCIA */
   
* {
    padding: 0; /* arruma o espaçamento entre os textos */
    margin: 0; /* arruma o espaçamento entre os textos */
    /* box-sizing: border-box; arruma o jeito das letras */ 
   }
   
   body {
    background: #f1f5f9;
    font-family: monospace;
   }

   .c-card2 {
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
    padding: 1rem; /* deixa espaçado entre a navbar e as imagens */
    margin: 2rem; /* deixa espaçado entre a navbar e as imagens */
    color: black;
    box-shadow: 0 0 20px #bfdbfe; /* a cor de funco do card */
    text-align: center; /* deixa a imagem centralizada*/
    height: 5%; 
    font-size: 15px;
   }

   .c-card2 .img2 {
    border-radius: 4rem;
   }

   .c-card2 h2 {
    padding-bottom: 10px; /* espaçamento entre os textos */
    color: #53C4D0;
   }
   
   .c-card p { /* breve descrição sobre mim */
    width: 20rem;
    text-align: left;
    padding: 0.5rem;
   }


   /* 3° NOTÍCIA */

   * {
    padding: 0; /* arruma o espaçamento entre os textos */
    margin: 0; /* arruma o espaçamento entre os textos */
    /* box-sizing: border-box; arruma o jeito das letras */ 
   }
   
   body {
    background: #f1f5f9;
    font-family: monospace;
   }

   .c-card3 {
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
    padding: 1rem; /* deixa espaçado entre a navbar e as imagens */
    margin: 2rem; /* deixa espaçado entre a navbar e as imagens */
    color: black;
    box-shadow: 0 0 20px #bfdbfe;; /* a cor de funco do card */
    text-align: center; /* deixa a imagem centralizada*/
    height: 5%; 
    font-size: 15px;
   }

   .c-card3 .img3 {
    border-radius: 4rem;
   }

   .c-card3 h2 {
    padding-bottom: 10px; /* espaçamento entre os textos */
    color: #53C4D0;
   }
   
   .c-card p { /* breve descrição sobre mim */
    width: 20rem;
    text-align: left;
    padding: 0.5rem;
   }


   /* 4° NOTÍCIA */

   * {
    padding: 0; /* arruma o espaçamento entre os textos */
    margin: 0; /* arruma o espaçamento entre os textos */
    /* box-sizing: border-box; arruma o jeito das letras */ 
   }
   
   body {
    background: #f1f5f9;
    font-family: monospace;
   }

   .c-card4 {
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
    padding: 1rem; /* deixa espaçado entre a navbar e as imagens */
    margin: 2rem; /* deixa espaçado entre a navbar e as imagens */
    color: black; /* breve descrição da notícia */
    box-shadow: 0 0 20px #bfdbfe; /* a cor de funco do card */
    text-align: center; /* deixa a imagem centralizada*/
    height: 5%; 
    font-size: 15px;
   }

   .c-card4 .img4 {
    border-radius: 4rem;
   }

   .c-card4 h2 {
    padding-bottom: 10px; /* espaçamento entre os textos */
    color: #53C4D0;
   }
   
   .c-card p { /* breve descrição sobre mim */
    width: 20rem;
    text-align: left;
    padding: 0.5rem;
   }


