@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;

        background-image: url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExM2hzNDZqbDRtcHNqMXZpNXhoc2RtYzcyb3htM3UwNTk2NjlvcW51bSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3V0mnnGcVblF8bAI/giphy.gif');
        background-position: center; /* Centraliza a imagem */
        background-repeat: no-repeat; /* Não repete a imagem */
        background-size: cover; 
        background-color: aliceblue;
        width: 100%;
        height: 200px;
    
}

.MsgErro {
    color: red;
    font-size: 12px;
    font-weight: 800;
}

.header { /*define o tamanho do header*/
    height: 80px;
    border-bottom: 2px solid #53C4D0;
    background-color: #53C4D0;
}

.container { /*define como será os elementos dentro*/
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
}


.header .container { /*quando se encontrarem terá essa estilização*/
    justify-content: space-between; /*um em cada lado da tela*/
    align-items: center;
    height: 100%;
}

.navbar{ /*define como será os elementos de inicial, simulador, espaçamentos...*/
    display: flex;
    justify-content: space-evenly; /*espaça os campos entre si*/
    width: 600px; /*separa um pouco mais os textos*/
    align-items: center;
    list-style: none; /* tira a bolinha */
    color: #fff;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-family: 'Karla', sans-serif;
}

.header .container .imagem { /* arrumar o tamanho dO logo na navbar */
    height: 75px;
    width: 75px;
    margin-top: 5px;
}

.agora {/* estiliza o inicial no header */
    font-weight: 800; /*grossura da fonte*/
}

.pretocadastro {
    background-color:black;
    border: none;
    padding: 8px;
    border-radius: 25px;
    width: 100px; 
    color: white;
    cursor: pointer;
}

.pretologin {
    background-color: black;
    border: none;
    padding: 8px;
    border-radius: 25px;
    width: 100px;
    color: white;
    cursor: pointer;
}

.principal { /* QUADRADO QUE CONTÉM AS INFORMAÇOES DE CADASTRO */
    display: flex;
    flex-direction: row; /*ISSO QUE DEIXOU A IMAGEM AO LADO*/
    justify-content: space-evenly;
    margin-top: 20px;
}

.principal2 {  /* QUADRADO QUE CONTÉM AS INFORMAÇOES DE LOGIN */
    display: flex;
    flex-direction: row; /*ISSO QUE DEIXOU A IMAGEM AO LADO*/
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}



/* LOGIN */

.Login{
    border-radius:50px ;
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Karla', sans-serif;
    border-color: #0062d1;
    border-style: solid;
    border-width: 1px;
    height: 480px;
}

.cadastro{
    border-radius: 50px; /* deixa a borda azul em volta das informações de cadastro e login */
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Karla', sans-serif;
    border-color: #0062d1;
    border-style: solid;
    border-width: 1px;
    height: 480px;

}

.cadastro p { /* BOTÃO DE CADASTRO */
    font-weight: 700;
    text-align: center;
}


.Login p { /* BOTÃO DE LOGIN */
    font-weight: 700;
    text-align: center;
}

.input { /* deixa as inputs maiores aonde o usuário digita */
    width: 80%;
    height: 26px;
    border-radius: 8px;
    border-width: 1px;
}

.inputCadastro { /* deixa as inputs maiores aonde o usuário digita */
    width: 80%;
    height: 26px;
    border-radius: 8px;
    border-width: 1px;
    padding: 3px;
}

button{ /* BOTÃO DE CADASTRAR E LOGIN */
    width: 80%;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #0062d1;
    font-size: 17px;
}

.imagem { /* LOGO NA NAVBAR */
    display: flex;
    height: 500px;
    width: 450px;
    justify-content: space-evenly;
    flex-direction: row;

    
}

